.root {
  position: relative;
}

.code {
  display: block;
  width: 100%;
  border-radius: 5px;
  padding: 10px 34px 10px 10px;
  border: 1px #cccccc solid;
  cursor: pointer;
}

.code:hover {
  background-color: #e1e1e1;
  border-color: #7e7e7e;
}

.code:hover+svg {
  visibility: visible;
}

.code+svg {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 25px;
  bottom: 36px;
  visibility: hidden;
  fill: #7e7e7e;
}

.label {
  width: 100%;
}